.bannerImage {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

.wrapper {
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

.content {
  text-align: left;
  font-size: 16px;
}
