.post_wrapper {
  padding: 5px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.post_description {
  margin-bottom: 10px;
  line-height: 1.5;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post_image_holder {
  position: relative;
}

.post_landing_loader {
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 400px;
  margin-top: 15px;
  position: absolute;
  background-color: #f4f4f4;
}

.post_landing_image {
  z-index: -1;
  width: 100%;
  height: 400px;
  margin-top: 15px;
  object-fit: cover;
  object-position: top;
}

.post_content {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  line-height: 23px;
  padding-bottom: 30px;
}

/* Markdown specific css */

@media (max-width: 600px) {
  .post_wrapper {
    padding: 5%;
  }
}
