.headWrapper {
  padding: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.intro {
  max-width: 500px;
  text-align: center;
  line-height: 1.5;
}

.heading {
  font-size: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landingBanner {
  width: 100%;
  filter: grayscale(100%);
  height: 400px;
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 6px;
  margin: 10px;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.jankBuster {
  overflow-y: scroll;
  will-change: transform;
}
