.gridWrapper {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  position: relative;
  will-change: transform;
}

.gridItem {
  background-color: #dddddd;
  display: block;
  position: relative;
  height: 250px;
  width: auto;
  overflow: hidden;
}

.gridItem > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateZ(0);
}

.rotate {
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  width: 200% !important;
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
}

@media only screen and (min-width: 768px) {
  .rotate {
    transform: rotate(90deg) translateY(-100%) translateX(-40%);
    transform-origin: top left;
    height: 200% !important;
  }

  .gridWrapper {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    position: relative;
  }
}
