.gridWrapper {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    position: relative;
}

.gridItem {
    background-color: #dddddd;
    display: block;
    position: relative;
    height: 250px;
    width: auto;
    overflow: hidden;
}

.gridItem > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .2s ease-in-out;
}

.gridItem > img:hover {
    transform: scale(1.2);
}

.rotate {
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    width: 200% !important;
}

@media only screen and (min-width: 768px){
    .rotate {
        transform: rotate(90deg) translateY(-100%) translateX(-40%);
        transform-origin: top left;
        height: 200% !important;
    }
}