.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bigPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  height: 690px;
}

.portfolio > div {
  width: 50%;
}

.user {
  color: #ffffff;
  background: linear-gradient(to right,#8e44ad,#c0392b);
}

.card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 6px;
  margin: 10px;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.card > div {
  flex-grow: 1;
  flex-basis: 100px;
}
