:root {
  --main-background: rgb(14, 20, 27);
  --anchor-link: #ffcd0e;
  --color-primary: #e6e0e0;
  --post-sub-header: #ffcd0e;
  --grey-border: #383030;
}

html {
  font-size: 62.5%;
  background-color: var(--main-background);
  color: var(--color-primary);
  word-spacing: 0.4rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  line-height: 1.5;
}

strong {
  color: var(--post-sub-header);
}

em {
  color: var(--anchor-link);
}

pre {
  overflow-x: scroll !important;
  padding: 5px 10px !important;
  border-radius: 4px;
  border: 2px solid var(--grey-border);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--anchor-link);
  font-weight: bold;
}

a:hover {
  background-color: var(--anchor-link);
  color: var(--main-background);
  text-decoration: none;
  border-bottom: none;
}

a > h2 {
  color: var(--post-sub-header);
  background-color: inherit;
  padding: inherit;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0px;
  text-align: left;
}

a:hover > h2 {
  color: var(--main-background);
  background-color: inherit;
  padding: inherit;
  margin-bottom: 0px;
}

h1,
h2,
h3 {
  color: var(--post-sub-header);
  word-spacing: 0.4rem;
}

blockquote {
  border-left: 2px solid var(--anchor-link);
  padding-left: 10px;
}

.landingImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

figurecaption {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-size: 1.4rem;
}

article {
  text-align: justify;
}

.splitPost {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.splitPost > p {
  flex: 1 1 0px;
}

.splitPost > div {
  flex: 1 1 0px;
}

.splitPost > figure {
  flex: 1 1 0px;
}

@media (max-width: 991px) {
  .splitPost {
    display: block;
  }
  .landingImage {
    height: auto;
  }
}
