body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #1da1f2;
  font-weight: bold;
  letter-spacing: 0.3px;
}

/* code {
  font-weight: bold;
} */

em {
  font-weight: bold;
  font-size: 1.1rem;
}

pre {
  overflow-x: scroll !important;
  padding: 5px 10px !important;
  border-radius: 4px;
  border: 2px solid #eee;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border-style: ridge;
}

blockquote {
  border-left: 5px solid #000;
  padding-left: 10px;
}
